@font-face {
  font-family: "Proxima Nova";
  src: local("fonts"),
    url(./assets//fonts/ProximaNova-Regular.woff) format("woff");
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: local("fonts"), url(./assets//fonts/ProximaNova-Bold.woff) format("woff");
}
body {
  margin: 0;
  font-family: "Proxima Nova";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  a {
    text-decoration: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-container {
  width: 100%;
  padding-right: 36px;
  padding-left: 36px;
  margin-right: auto;
  margin-left: auto;
  @media screen and(max-width: 1170px) {
    max-width: 1100px;
  }
}

@keyframes topLineCross {
  0% {
    transform: translateY(-22px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px) rotate(45deg);
  }
}
